<div class="page-content">
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body">Widget settings form goes here</div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
    <ul class="breadcrumb">
      <li>
        <p>YOU ARE HERE</p>
      </li>
      <li><a href="#" class="active">Users</a>

      </li>
    </ul>
    <div class="row">
      <div class="col-md-12">
        <div class="grid simple ">
          <div class="grid-body no-border">
            <table class="table no-more-tables" id="example12">
              <thead>
              <tr>
                <th></th>
                <th>Full Name</th>
                <th>Email/Phone</th>
                <th>Events</th>
                <th>Posts</th>
                <th>Followers</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
                <% @member_profiles.each do |member_profile| %>
                  <tr>
                    <td><i class="fa fa-plus-circle" style="margin-right:10px;"></i></td>
                    <td class="v-align-middle"><%= member_profile[:user][:username]%></td>
                    <td class="v-align-middle"><span class="muted"><%= member_profile[:user][:email] || member_profile[:user][:phone] %></span></td>
                    <td class="v-align-middle"><%= member_profile[:events_count]%></td>
                    <td class="v-align-middle"><%= member_profile[:posts_count]%></td>
                    <td class="v-align-middle"><%= member_profile[:followers_count]%></td>
                    <td class="v-align-middle">delete</td>
                  </tr>
                  <tr class="hidden"><%= render :partial => "shared/user_detail", locals:{member_profile: member_profile} %></tr>
                <% end %>
              </tbody>
            </table>
            <%= render :partial => "shared/pagination" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#example12 tbody td i').live('click', function () {
      var row = $(this).closest('tr').next('tr');
      if ($(this).hasClass('fa fa-plus-circle'))
      {
        $(this).removeClass("fa fa-plus-circle");
        $(this).addClass("fa fa-minus-circle");
        var tr = row.removeClass('hidden');
      }else{
        $(this).removeClass("fa fa-minus-circle");
        $(this).addClass("fa fa-plus-circle");
        var tr = row.addClass('hidden');
      }
    });
  })
</script>

