<div class="page-content">
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body">Widget settings form goes here</div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
    <ul class="breadcrumb">
      <li>
        <p>YOU ARE HERE</p>
      </li>
      <li><a href="#" class="active">User Followers</a>

      </li>
    </ul>
    <div class="row">
      <div class="col-md-12">
        <div class="grid simple ">
          <div class="grid-body no-border">
            <table class="table no-more-tables" id="example12">
              <thead>
              <tr>
                <th>Full Name</th>
                <th>Email/Phone</th>
                <th>status</th>
              </tr>
              </thead>
              <tbody>
              <% @followers.each do |member_follower| %>
                  <tr>
                    <td class="v-align-middle"><%= member_follower[:member_profile][:user][:first_name]%><span class="bold"><%= member_follower[:member_profile][:user][:last_name] %></span></td>
                    <td class="v-align-middle"><span class="muted"><%= member_follower[:member_profile][:user][:email] || member_follower[:member_profile][:user][:phone] %></span></td>
                    <td class="v-align-middle"><%= member_follower[:following_status] %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
            <%= render :partial => "shared/pagination" %>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'Go back', users_path, class:'btn btn-default btn-mini' %>
  </div>
</div>
