<div class="page-content">
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body">Widget settings form goes here</div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
    <ul class="breadcrumb">
      <li>
        <p>YOU ARE HERE</p>
      </li>
      <li><a href="#" class="active">User Events</a>

      </li>
    </ul>
    <div class="row">
      <div class="col-md-12">
        <div class="grid simple ">
          <div class="grid-body no-border">
            <table class="table no-more-tables" id="example12">
              <thead>
              <tr>
                <th></th>
                <th>Event Name</th>
                <th>Start Date</th>
                <th>Finish Date</th>
                <th>Location</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @events.each do |event| %>
                  <tr>
                    <td><i class="fa fa-plus-circle" style="margin-right:10px;"></i></td>
                    <td class="v-align-middle"><%= link_to event[:name], event_path(event.id) %></td>
                    <td class="v-align-middle"><span class="muted"><%= event[:start_date] %></span></td>
                    <td class="v-align-middle"><span class="muted"><%= event[:end_date] %></span></td>
                    <td class="v-align-middle"><%= event[:location] %></td>
                    <td class="v-align-middle"><span class="muted">delete</span></td>
                  </tr>
                  <tr class="hidden"><%= render :partial => "shared/event_detail", locals:{event: event} %></tr>
              <% end %>
              </tbody>
            </table>
            <%= render :partial => "shared/pagination" %>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'Go back', users_path, class:'btn btn-default btn-mini' %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#example12 tbody td i').live('click', function () {
      var row = $(this).closest('tr').next('tr');
      if ($(this).hasClass('fa fa-plus-circle'))
      {
        $(this).removeClass("fa fa-plus-circle");
        $(this).addClass("fa fa-minus-circle");
        var tr = row.removeClass('hidden');
      }else{
        $(this).removeClass("fa fa-minus-circle");
        $(this).addClass("fa fa-plus-circle");
        var tr = row.addClass('hidden');
      }
    });
  })
</script>
