<div class="page-content">
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body">Widget settings form goes here</div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
    <ul class="breadcrumb">
      <li>
        <p>YOU ARE HERE</p>
      </li>
      <li><a href="#" class="active">Post Likes</a>

      </li>
    </ul>
    <div class="row">
      <div class="col-md-12">
        <div class="grid simple ">
          <div class="grid-body no-border">
            <table class="table no-more-tables" id="example12">
              <thead>
              <tr>
                <th>Full Name</th>
                <th>Is Like?</th>
                <th>Liked at</th>
              </tr>
              </thead>
              <tbody>
              <% @likes.each do |like| %>
                  <tr>
                    <td class="v-align-middle"><%= like[:member_profile][:user][:username]  %></td>
                    <td class="v-align-middle"><span class="muted"><%= like[:like_status] %></span></td>
                    <td class="v-align-middle"><span class="muted"><%= like[:created_at].to_date %></span></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
            <%= render :partial => "shared/pagination" %>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'Go back', event_path(@event_id), class:'btn btn-default btn-mini'%>
  </div>
</div>

