<div class="page-content">
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body">Widget settings form goes here</div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
    <ul class="breadcrumb">
      <li>
        <p>YOU ARE HERE</p>
      </li>
      <li><a href="#" class="active">Post Comments</a>

      </li>
    </ul>
    <div class="row">
      <div class="col-md-12">
        <div class="grid simple ">
          <div class="grid-body no-border">
            <table class="table no-more-tables" id="example12">
              <thead>
              <tr>
                <th></th>
                <th>Full Name</th>
                <th>Host/Co-host</th>
                <th>Comment</th>
                <th>Commented at</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @comments.each do |comment| %>
                  <tr>
                    <td><i class="fa fa-plus-circle" style="margin-right:10px;"></i></td>
                    <td class="v-align-middle"><%= comment[:member_profile][:user][:first_name] + ' ' + comment[:member_profile][:user][:last_name]  %></td>
                    <td class="v-align-middle"><span class="muted"><%= comment[:is_co_host_or_host] %></span></td>
                    <td class="v-align-middle"><span class="muted"><%= comment[:post_comment] %></span></td>
                    <td class="v-align-middle"><span class="muted"><%= comment[:created_at].to_date %></span></td>
                    <td class="v-align-middle">
                      <% if comment.is_deleted %>
                          <%= link_to 'Undo', event_post_post_comment_path(@event_id, @post_id, comment.id) , class: 'btn btn-warning btn-mini', data: { confirm: 'Are you sure to undo?' }, method: 'delete' %>
                      <% else %>
                          <%= link_to 'delete', event_post_post_comment_path(@event_id, @post_id, comment.id), class: 'btn btn-danger btn-mini', data: { confirm: 'Are you sure to delete this post?' }, method: 'delete' %>
                      <% end %>
                    </td>
                  </tr>
                  <tr class="hidden"><%= render :partial => "shared/comment_detail", locals:{comment: comment} %></tr>
              <% end %>
              </tbody>
            </table>
            <%= render :partial => "shared/pagination" %>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'Go back', event_path(@event_id) , class:'btn btn-default btn-mini'%>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#example12 tbody td i').live('click', function () {
      var row = $(this).closest('tr').next('tr');
      if ($(this).hasClass('fa fa-plus-circle'))
      {
        $(this).removeClass("fa fa-plus-circle");
        $(this).addClass("fa fa-minus-circle");
        var tr = row.removeClass('hidden');
      }else{
        $(this).removeClass("fa fa-minus-circle");
        $(this).addClass("fa fa-plus-circle");
        var tr = row.addClass('hidden');
      }
    });
  })
</script>

