<div class="page-content">
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body">Widget settings form goes here</div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
    <ul class="breadcrumb">
      <li>
        <p>YOU ARE HERE</p>
      </li>
      <li>
        <a href="#" class="active">Categories</a>
      </li>
    </ul>
    <div class="pull-right" style="margin-bottom: 7px;">
      <form action="/categories" method="post" class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="Category name">
        </div>
        <button type="submit" class="btn btn-default">Save</button>
      </form>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="grid simple ">
          <div class="grid-body no-border">
            <table class="table no-more-tables" id="edit-category">
              <thead>
              <tr>
                <th>Sr#</th>
                <th>Name</th>
                <th>Actions</th>

              </tr>
              </thead>
              <tbody>
              <% @categories.each_with_index do |category,index| %>
                  <tr>
                    <td><%= "#{index + 1}" %></td>
                    <td class="v-align-middle"><%= category[:name] %></td>
                    <td class="v-align-middle">
                      <%= link_to 'edit', edit_category_path(category.id),   class: 'btn btn-primary btn-mini' %>
                      <% if category.is_deleted %>
                          <%= link_to 'undo', category_path(category.id), class: 'btn btn-warning btn-mini', data: { confirm: 'Are you sure to undo this category?' }, method: 'delete' %>
                      <% else %>
                          <%= link_to 'delete', category_path(category.id), class: 'btn btn-danger btn-mini', data: { confirm: 'Are you sure to delete this category?' }, method: 'delete' %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>