<div class="header navbar navbar-inverse">
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
    <div class="header-seperation">
      <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
        <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" >
          <div class="iconset top-menu-toggle-white"></div>
        </a> </li>
      </ul>
      <!-- BEGIN LOGO -->
      <a>
        <!--<h3>traineat </h3>-->
        <%= image_tag("trainaet.png", :alt => "Logo", style: "width: 12%;height: 68%;margin-top: 11px; margin-left: 8px;") %>
      </a>
      <!--END LOGO -->
      <ul class="nav pull-right notifcation-center">
        <li class="dropdown" id="header_task_bar"> <a href="" class="dropdown-toggle active" data-toggle="">
          <div class="iconset top-home"></div>
        </a> </li>
        <li class="dropdown" id="header_inbox_bar" >
          <a href="" class="dropdown-toggle" >
            <div class="iconset top-messages"></div>
            <span class="badge" id="msgs-badge">2</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <div class="header-quick-nav" >
      <!-- BEGIN TOP NAVIGATION MENU -->
      <div class="pull-left">
        <ul class="nav quick-section">
          <li class="quicklinks"> <a href="javascript:void(0)" class="" id="layout-condensed-toggle" >
            <div class="iconset top-menu-toggle-dark"></div>
          </a> </li>
        </ul>
        <!--<ul class="nav quick-section">-->
          <!--<li class="quicklinks"> <a href="#" class="" >-->
            <!--<div class="iconset top-reload"></div>-->
          <!--</a> </li>-->
          <!--<li class="quicklinks"> <span class="h-seperate"></span></li>-->
          <!--<li class="quicklinks"> <a href="#" class="" >-->
            <!--<div class="iconset top-tiles"></div>-->
          <!--</a> </li>-->
          <!--<li class="m-r-10 input-prepend inside search-form no-boarder"> <span class="add-on"> <span class="iconset top-search"></span></span>-->
            <!--<input name="" type="text"  class="no-boarder " placeholder="Search Dashboard" style="width:250px;">-->
          <!--</li>-->
        <!--</ul>-->
      </div>
      <!-- END TOP NAVIGATION MENU -->
      <!-- BEGIN CHAT TOGGLER -->
      <div class="pull-right">
        <div class="chat-toggler">
          <a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom"  data-content='' data-toggle="dropdown" data-original-title="Notifications">
          <div class="user-details">
            <div class="username"> <span class="badge badge-important">3</span> <%= current_user.first_name %> <span class="bold"><%= current_user.last_name %></span> </div>
          </div>
          <div class="iconset top-down-arrow"></div>
        </a>
          <div id="notification-list" style="display:none">
            <div style="width:300px">
              <div class="notification-messages info">
                <div class="user-profile"> <img src="assets/d.jpg"  alt="" data-src="assets/d.jpg" data-src-retina="assets/d2x.jpg" width="35" height="35"> </div>
                <div class="message-wrapper">
                  <div class="heading"> David Nester - Commented on your wall </div>
                  <div class="description"> Meeting postponed to tomorrow </div>
                  <div class="date pull-left"> A min ago </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="profile-pic">
            <!--<img src="assets/avatar_small.jpg"  alt="" data-src="assets/avatar_small.jpg" data-src-retina="assets/avatar_small2x.jpg" width="35" height="35" />-->
            <%= image_tag("avatar_small.jpg", :alt => "", style: "width: 35;height: 35;") %>
          </div>
        </div>
        <ul class="nav quick-section ">
          <li class="quicklinks"> <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
            <div class="iconset top-settings-dark "></div>
          </a>
            <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
              <!--<li>-->
                <!--<%#= link_to 'My Account', dashboard_path(current_user.profile_id) %>-->
              <!--</li>-->
              <li class="divider"></li>
              <li>
                <a href='/user_sessions/<%= "#{current_profile[:id]}" %>' data-method="delete">
                  <i class="fa fa-power-off"></i>&nbsp;&nbsp;
                  Log Out
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- END CHAT TOGGLER -->
    </div>
    <!-- END TOP NAVIGATION MENU -->
  </div>
  <!-- END TOP NAVIGATION BAR -->
</div>